@charset "UTF-8";
/*******************************
*	작성자 : 구동현
*	작성일 : 23.12.15
*	기술내용 : coursePage of css
*
********************************/
.form-control , .form-select {
  border-radius: 3px !important;
}
.form-select {
  width: 200px;
  flex: 0.3 !important;
}
.bx-link {
  background-image: url(./img/file.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 50px;
  height: 50px;
  opacity: 1;
  margin-top: 5px;
}
.course-item {
  margin-bottom: 30px;
  width: 400px;
  height: 250px;
}
#course-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}
#course-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 12px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  margin: 0 4px 8px 4px;
  transition: all ease-in-out 0.3s;
  border-radius: 50px;
  background: #f2f2f2;
  z-index: 3;
}

#course-flters li:hover,
#course-flters li.filter-active {
  background: #e96b56;
  color: #fff;
}

#course-flters li:last-child {
  margin-right: 0;
}
.course-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(84, 84, 84, 0.6);
}

.course-wrap::before {
  content: "";
  background: rgba(84, 84, 84, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.course-wrap .course-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-wrap .course-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.course-wrap .course-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.course-wrap .course-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.course-wrap .course-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.course-wrap .course-links {
  text-align: center;
  z-index: 4;
}

.course-wrap .course-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.course-wrap .course-links a:hover {
  color: #e96b56;
}

.course-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.course-wrap:hover .course-info {
  opacity: 1;
}

.course-wrap:hover .course-info::before {
  top: 15px;
  left: 15px;
}

.course-wrap:hover .course-info::after {
  bottom: 15px;
  right: 15px;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #e96b56;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ee8b7a;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}